.popup__form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0px 0 9px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0 0 5px 0;
}

.popup__form-input:last-of-type {
  padding-bottom: 6px;
}
