.popup__form-button {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  border: none;
  margin-top: 28px;
}

.popup__form-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__form-button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
  }
}
